<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Date evaluation:</strong>
    <%= evaluation.date_evaluation %>
  </p>

  <p>
    <strong>Numero eval:</strong>
    <%= evaluation.numero_eval %>
  </p>

  <p>
    <strong>Materiel:</strong>
    <%= evaluation.materiel %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= evaluation.notes %>
  </p>

  <p>
    <strong>Professeur:</strong>
    <%= evaluation.professeur_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= evaluation.student_id %>
  </p>

</div>
