<div id="<%= dom_id professeur %>">
  <p>
    <strong>Nom professeur:</strong>
    <%= professeur.nom_professeur %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= professeur.date_naissance %>
  </p>

  <p>
    <strong>Numero telephone:</strong>
    <%= professeur.numero_telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professeur.email %>
  </p>

</div>
