<div id="<%= dom_id student %>">
  <p>
    <strong>Nom student:</strong>
    <%= student.nom_student %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= student.date_naissance %>
  </p>

  <p>
    <strong>Numero telephone:</strong>
    <%= student.numero_telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>Numero parents:</strong>
    <%= student.numero_parents %>
  </p>

  <p>
    <strong>Cours:</strong>
    <%= student.cours_id %>
  </p>

  <p>
    <strong>Professeur:</strong>
    <%= student.professeur_id %>
  </p>

  <p>
    <strong>Class room:</strong>
    <%= student.class_room_id %>
  </p>

</div>
