<div id="<%= dom_id cour %>">
  <p>
    <strong>Nom cours:</strong>
    <%= cour.nom_cours %>
  </p>

  <p>
    <strong>Professeur:</strong>
    <%= cour.professeur_id %>
  </p>

  <p>
    <strong>Class room:</strong>
    <%= cour.class_room_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= cour.Time %>
  </p>

  <p>
    <strong>Programm cours:</strong>
    <%= cour.Programm_cours %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= cour.student_id %>
  </p>

</div>
