<%= form_with(model: inscription) do |form| %>
  <% if inscription.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
        <% inscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date_inscription, style: "display: block" %>
    <%= form.date_field :date_inscription %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div>
    <%= form.label :paiement, style: "display: block" %>
    <%= form.text_field :paiement %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
